@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  color: white;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* .App {
  display
  width: 100%;
} */

img {
  width: 100%;
}
