@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  color: white;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
}
.App {
  width: 100%;
  display: grid;
  padding: 3rem 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}
